.DS_Store
UserInterfaceState.xcuserstate
xcschememanagement.plist
.idea/
xcuserdata
xcuserdata/
.xcuserstate
Manifest.lock
Podfile.lock
Package.resolved
Constants/Environments.swift
SalesSparrow/GoogleService-Info.plist